**/.vscode/*.*
./web/fotaasweb/vendor/
./web/fotaasweb/**/*.log
./web/fotaasweb/**/*.sqlite
./web/fotaasweb/.idea/
./web/fotaasweb/bin/
./web/fotaasweb/tmp/
./web/fotaasweb/node_modules/
./web/fotaasweb/.sass-cache/
./web/fotaasweb/*-packr.go
./web/fotaasweb/public/assets/
./web/fotaasweb/.vscode/
./web/fotaasweb/.grifter/
./web/fotaasweb/.env
./web/fotaasweb/**/.DS_Store
./web/fotaasweb/*.pid
./web/fotaasweb/coverage
./web/fotaasweb/coverage.data
./web/fotaasweb/.svn
./web/fotaasweb/.console_history
./web/fotaasweb/.sass-cache/*
./web/fotaasweb/.jhw-cache/
./web/fotaasweb/jhw.*
./web/fotaasweb/*.sublime*
./web/fotaasweb/node_modules/
./web/fotaasweb/dist/
./web/fotaasweb/generated/
