<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/fotaas.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/notFoundPage.css">
    <title>FOTAAS</title>
</head>

<body>
    <div class=headerclass>
        <header>
            <div class="container">
                <div class="row">
                    <div class="column left logo">
                        <img src="/assets/images/f1-logo-4.jpeg" alt="">
                    </div>
                    <div class="column right titles">
                        <hgroup>
                            <h1>FOTAAS</h1>
                            <h2>Formula One Telemetry Aggregation and Analysis System</h2>
                        </hgroup>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <nav>
        <div class="topnav">
            <a href="/about">About</a>
            <a href="/aliveness">Aliveness</a>
            <a href="/status">Status</a>
            <a href="/simulation">Simulation</a>
            <a href="/analysis">Analysis</a>
            <a href="/telemetry">Telemetry</a>
            <a class="active" href="/404">404</a>
        </div>
    </nav>
    <section class="bg-purple">
        <div class="stars">
            <div class="central-body">
                <h1 class="message_text" style="font-family: Verdana; font-size: 500%; color:ivory">404</h1>
                <h1 class="message_text" style="font-family: Verdana; font-size: 100%; color:ivory">Looks like you are
                    lost in space...</h1>
                <h1 class="message_text" style="font-family: Verdana; font-size: 80%; color:ivory">(page not found)</h1>
            </div>
            <div class="objects">
                <img class="object_rocket" src="/assets/images/rocket.svg" width="40px">
                <div class="earth-moon">
                    <img class="object_earth" src="/assets/images/earth.svg" width="100px">
                    <img class="object_moon" src="/assets/images/moon.svg" width="80px">
                </div>
                <div class="box_astronaut">
                    <img class="object_astronaut" src="/assets/images/astronaut.svg" width="140px">
                </div>
            </div>
            <div class="glowing_stars">
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
                <div class="star"></div>
            </div>
        </div>
    </section>
</body>

</html>