<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/assets/css/fotaas.css">
  <title>FOTAAS</title>
</head>

<body>
  <div class=headerclass>
    <header>
      <div class="container">
        <div class="row">
          <div class="column left logo">
            <img src="/assets/images/f1-logo-4.jpeg" alt="">
          </div>
          <div class="column right titles">
            <hgroup>
              <h1>FOTAAS</h1>
              <h2>Formula One Telemetry Aggregation and Analysis System</h2>
            </hgroup>
          </div>
        </div>
      </div>
    </header>
  </div>
  <nav>
    <div class="topnav">
      <a href="/about">About</a>
      <a class="active" href="/aliveness">Aliveness</a>
      <a href="/status">Status</a>
      <a href="/simulation">Simulation</a>
      <a href="/analysis">Analysis</a>
      <a href="/telemetry">Telemetry</a>
      <a href="/404">404</a>
    </div>
  </nav>
  <section>
    <div>
      <h1>Aliveness Page</h1>
    </div>
    <div>
      <table class="aliveness-table">
        <thead>
          <tr>
            <th>Service Name</th>
            <th>Response Code</th>
            <th>Response Message</th>
          </tr>
        </thead>
        <tbody>
          {{ range $key, $value := .RespMap }}
          <tr>
            <td>{{ $key }}</td>
            <td>{{ $value.Details.Code }}</td>
            <td>{{ $value.Details.Message }}</td>
          </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </section>
</body>

</html>