<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/assets/css/fotaas.css">
    <title>FOTAAS</title>

  </head>
  <body> 
      <header>
          <div class="container">
            <div class="row">
                <div class="column left logo">
                    <img src="/assets/images/f1-logo-4.jpeg" alt="">
                </div>
                <div class="column right titles">
                    <hgroup>
                        <h1>FOTAAS</h1>
                        <h2>Formula One Telemetry Aggregation and Analysis System</h1>
                    </hgroup>
                </div>
              </div>
          </div>        
      </header>
    <nav>
      <div class="topnav">
          <a class="active" href="/about">About</a>
          <a href="/aliveness">Aliveness</a>
          <a href="/status">Status</a>
          <a href="/simulation">Simulation</a>
          <a href="/analysis">Analysis</a>
          <a href="/telemetry">Telemetry</a>
          <a href="/echo">Echo</a>
      </div> 
    </nav>
    <section>
        <div>
          <h1>Echo Page</h1>
        </div>


    </section>


    <section>

        <div>
            <form>
                <label for="numberfield">Number</label>
                <input type="text" id="numberfield" placeholder="12"/><br />
                <button type="button" id="sendBtn">Send</button>
            </form>
        </div>
        <div id="container"></div>
    
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript">
            $(function () {
                var ws;
                if (window.WebSocket === undefined) {
                    $("#container").append("Your browser does not support WebSockets");
                    return;
                } else {
                    ws = initWS();
                }
                function initWS() {
                    var socket = new WebSocket("ws://localhost:8080/echo_ws"),
                        container = $("#container")
                    socket.onopen = function() {
                        container.append("<p>Socket is open</p>");
                    };
                    socket.onmessage = function (e) {
                        container.append("<p> Data from server:" + e.data + "</p>");
                    }
                    socket.onclose = function () {
                        container.append("<p>Socket closed</p>");
                    }
                    return socket;
                }
                $("#sendBtn").click(function (e) {
                    e.preventDefault();
                    ws.send(JSON.stringify({ Num: parseInt($("#numberfield").val()) }));
                });
            });
        </script>


    </section>
  </body>  
</html>