.container {
	min-width: 320px;
}

header {
	background-color: #62a5ee;
	padding: 10px 20px;
	box-sizing: border-box;
}

.logo img {
	width: 100px;
}

.titles h1 {
	font-size: 30px;
	font-weight: 300;
	color: white;
	margin-bottom: 13px;
	margin-top: 5px;
}

.titles h2 {
	font-weight: 300;
	font-size: 18px;
	display: inline-block;
	margin: 0;
}

.titles a {
	color: white;
	text-decoration: underline;
}

.titles i {
	margin-right: 5px;
	text-decoration: none;
}

.titles .documentation {
	margin-left: 28px;
}

.subtitle {
	color: white;
	margin: 0;
	padding: 13px 0;
	background-color: #2a3543;
	margin-bottom: 20px;
}

.subtitle h3 {
	font-size: 22px;
	font-weight: 400;
	margin: 0;
}

table {
	font-size: 14px;
}

table.table tbody tr td {
	border-top: 0;
	padding: 10px;
}

.foot {
	text-align: right;
	color: #c5c5c5;
	font-weight: 300;
}

.foot a {
	color: #8b8b8b;
	text-decoration: underline;
}

.centered {
	text-align: center;
}

@media all and (max-width: 770px) {
	.titles h1 {
		font-size: 25px;
		margin: 15px 0 5px 0;
	}
}

@media all and (max-width: 640px) {
	.titles h1 {
		font-size: 23px;
		margin: 15px 0 5px 0;
	}
	.titles h2 {
		font-size: 15px;
	}
	.titles .documentation {
		margin-left: 10px;
	}
}

@media all and (max-width: 530px) {
	.titles h1 {
		font-size: 20px;
		margin: 5px 0;
	}
	.logo {
		padding: 0
	}
	.logo img {
		width: 100%
	}
	.titles .documentation {
		margin-left: 0px;
		margin-top: 5px;
		display: block;
	}
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: #333;
	overflow: hidden;
}
  
/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
  
/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}
  
/* Add a color to the active/current link */
.topnav a.active {
	background-color: #4CAF50;
	color: white;
}


.column {
	float: left;
	padding: 10px;
	/*height: 150px;*/
  }
  
  .left {
	width: 10%;	
  }
  
  .right {
	width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }

